extends base.pug

block scripts 
  script(src='/static/index.js')

block style 
    style 
      include ../static/style.css

block content 
    section#introsection
        div Welocome to Shivam's Dance Academy 
        div Eat Sleep Dance Repeat 

    section#missionsection 
        h2 Our Mission
        div.card
            h3 Dance Perfection 
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")
                div.card-content
                    p We will teach you till the perfection 

        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/img/2.png")
                div.card-content
                    p Come and learn any dance form you like

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/img/3.png")
                div.card-content
                    p Learn from certified dancers all over the world

    section#sponsorssection 
        h2 Our Sponsors 
        div#sponsors
            img(src="/static/img/logo1.png", alt="Sponsor Image", class="spImage")
            img(src="/static/img/logo2.png", alt="Sponsor Image", class="spImage")
            img(src="/static/img/logo3.png", alt="Sponsor Image", class="spImage")
            img(src="/static/img/logo4.png", alt="Sponsor Image", class="spImage")
             